body {
    background-color: bisque;
}
header h1 {
    color: green;
}
.Maplestory h2 {
    color:gold;
}
article img {
    width: 400px;
    height: 350px;
}

.articles1  {
    display: flex;
    justify-content: space-between;
}

.articles2  {
    display:flex;
    justify-content:space-around;
    text-align: justify;
}

.Tibia h2 {
    color: red;
}

.Tibia div {
    display: flex;
    justify-content: space-between;
}

.imagem_contato {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
}

section {
    padding-bottom: 150px;
}
